<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <script src="https://kit.fontawesome.com/c23a972113.js" crossorigin="anonymous"></script>
  <title>메이플 유니온 배치</title>
</head>

<body>
  {% include 'navBar/navbar.html' %} {% include 'Banner/searchBanner.html' %}
  {% block content %} {% endblock %}
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  {% block script %}
  <script>
    const tables = document.getElementsByTagName('table');

    // NodeList를 반복하여 각 table 요소에 접근
    for (let i = 0; i < tables.length; i++) {
      const table = tables[i];
      // 각 table에 대한 작업 수행
      console.log(table); // 예시: 각 table 요소를 콘솔에 출력
      // 각 행을 클릭했을 때 이벤트 처리
      table.addEventListener('click', (event) => {
        // 클릭된 요소가 tr(행)인지 확인
        if (event.target.tagName === 'TD') {
          // 클릭된 행 가져오기
          const selectedRow = event.target.parentElement;

          // 선택한 행의 데이터 가져오기
          const rowData = {
            rank: selectedRow.cells[0].innerText,
            nickname: selectedRow.cells[1].innerText,
            level: selectedRow.cells[2].innerText,
            occupation: selectedRow.cells[2].innerText,
            guild: selectedRow.cells[2].innerText
            // 필요한 만큼 셀을 추가하여 데이터를 가져올 수 있습니다.
          };

          // 가져온 데이터 활용 예시 (콘솔에 출력)
          console.log('선택한 행 데이터:', rowData);

          window.location = rowData.nickname
        }
      });
    }
  </script>
  {% endblock %}
  {% include 'Footer/footer.html' %}
</body>

</html>