<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <script src="https://kit.fontawesome.com/c23a972113.js" crossorigin="anonymous"></script>
  <title>메이플 유니온 배치</title>
</head>

<body>
  {% include 'navBar/navbar.html' %} {% include 'Banner/searchBanner.html' %}
  {% block content %} {% endblock %}
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script>
    document.getElementById('search_button').addEventListener('click', function() {
      let username = document.getElementById('username').value;
      location.href = `${location.origin}/user/${username}`;
    });

    document.getElementById('username').addEventListener('keypress', function(event) {
      if(event.code.toUpperCase() == 'ENTER') {
        document.getElementById('search_button').click();
      }
    })

    document.getElementById('nav_search_button').addEventListener('click', function() {
      let username = document.getElementById('nav_username').value;
      location.href = `${location.origin}/user/${username}`;
    });

    document.getElementById('nav_username').addEventListener('keypress', function(event) {
      if(event.code.toUpperCase() == 'ENTER') {
        document.getElementById('nav_search_button').click();
      }
    });
  </script>
  {% block script %}
  {% endblock %}
  {% include 'Footer/footer.html' %}
</body>

</html>