<div class="container-fluid bg-light text-dark">
    <div class="row justify-content-center align-items-center" style="height: 300px;">
        <div class="col">
            <img src="{{image.url}}" alt="{{character.nickname}}" class="img-fluid img-thumbnail float-end">
        </div>
        <div class="col">
            <div class="row row-cols-auto">
                <div class="col"><h2>{{character.world_name}}</h2></div>
                <div class="col"><h2>{{character.nickname}}</h2></div>
            </div>
            <div class="row row-cols-auto">
                
                <div class="col">{{character.level}}</div>
                <div class="col">{{character.occupation}}</div>
                <div class="col">{{character.popularity}}</div>
            </div>
            <div class="row row-cols-auto">
                <div class="col"><button type="button">정보 갱신</button></div>
                <div class="col">{{rank.total_rank}}</div>
                <div class="col">{{rank.world_rank}}</div>
            </div>
        </div>
    </div>
</div>
</div>