{% extends 'base.html' %} {% block content %}
<!-- 랭킹 카드 -->
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-header">전체월드</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">오로라</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">레드</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-header">이노시스</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">유니온</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">스카니아</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-header">루나</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">제니스</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">크로아</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-header">베라</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">엘리시움</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">아케인</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-4">
      <div class="card">
        <div class="card-header">노바</div>
        <img src="..." class="card-img-top" alt="전체월드 랭킹 1등" />
        <div class="card-body">캐릭터</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
